body {
  font-size: 10px;
  background:rgb(149, 194, 215)

}

h1 {
  font-family: 'Monoton', monospace;
  }
  a{
    text-decoration: none;
  }
  .logo-text{
    background: white;
    font-family:'Monoton', monospace;
    text-align: center;
    text-transform: uppercase;
    font-size: 37px;
  }
  .thumbnail-item{
    border: 1px solid rgba(100%,100%,100%,255);
    display: block;
  }
p{
  font-family: 'Cutive Mono', monospace;
text-align:center;
color: black;
}
