<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
body {

}

h1 {
    color: navy;
    margin-left: 20px;
    font-family: font-family: 'Cinzel Decorative', cursive;
}
